<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 <extension point="com.ibm.domino.das.service">
        <serviceResources
            class="com.tc.websocket.services.rest.WebSocketService"
            name="websocket"
            path="websocket">
        </serviceResources>         
   </extension>


</plugin>
